*{
    margin:0;
    
}
body{
    background-color:dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__search-bar{
    box-sizing: content-box;
    width: 100%;
}
.container__search-bar::placeholder{
    color:dodgerblue;
}

.container__search-bar:focus{
    outline: 5px darkslateblue solid;
}
.contatiner__text{
    margin-top: 50px;
    display: block;
    height: 50px;
    width: 500px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color:aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color:aliceblue;
    height: 500px;
    width: 500px;
    border-radius: 15px;
}

.container__main-image{
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
}
.popup{

}
.popup > img{
    height: 100px;
    width: 100px;
}